@using HiringManager.Web.Infrastructure.MVC
@model HiringManager.Web.ViewModels.Positions.AddCandidateViewModel

@{
    ViewBag.Title = "Add Candidate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tab-pane" id="existing-candidate">
    <h2>Add Candidate</h2>
    @Html.ValidationSummary()
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.HiddenFor(m => m.PositionId)
            @Html.LabelFor(m=> m.CandidateId, new {@class="control-label"})
            <input id="CandidateId" name="CandidateId" class="form-control"/>
        </div>
   
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">OK</button>
            <a type="button" href="@Url.Action("Candidates", new {id = Model.PositionId})" class="btn btn-default" role="button">Cancel</a>
        </div>
    }
</div>    

@section scripts {
    <script type="text/javascript">
        $(function () {
            var model = @Html.ToJson(Model);
            $("#CandidateId").kendoComboBox({
                dataSource: model.Candidates,
                filter: "contains",
                placeholder: "Select Candidate",
                dataTextField: "Text",
                dataValueField: "Value"
            });
        });
    </script>
}