@model HiringManager.Web.ViewModels.IndexViewModel<HiringManager.Web.ViewModels.Positions.PositionSummaryIndexItem>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Positions</h2>
    
<div class="container row col-md-2">
   
</div>

<div class="container row col-md-12">
    <table class="table table-bordered table-hover table-striped table-responsive">
        <thead>
            <tr>
                <td colspan="4">
                    <div class="btn-group">
                        <a href="@Url.Action("Create")" class="btn btn-default" role="button">New Position</a>
                    </div>                    
                </td>
            </tr>
            <tr>
                <th>Position</th>
                <th>Created</th>
                <th>Status</th>
                <th>Candidates Awaiting Review</th>
                <th>Open Date</th>
                <th>Openings</th>
                <th>Filled</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@Html.ActionLink(item.Title, MVC.Positions.Candidates(item.PositionId))</td>
                    <td>@item.CreatedByName</td>
                    <td>@Html.ActionLink(item.Status, "Index", "Positions", new {status = item.Status}, null)</td>
                    <td>@item.CandidatesAwaitingReview.ToString()</td>
                    <td>@item.OpenDate</td>
                    <td>@item.Openings</td>
                    <td>@item.OpeningsFilled</td>
                </tr>
            }
        </tbody>
    </table>

</div>