@model HiringManager.Web.Models.Positions.CandidateStatusViewModel

@{
    ViewBag.Title = "Pass on Candidate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.PositionId)
    @Html.HiddenFor(m => m.CandidateStatusId)
    <div class="control-group">
        @Html.LabelFor(m => m.PositionTitle)
        <br/>
        @Html.DisplayFor(m => m.PositionTitle)
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.CandidateName)
        <br/>
        @Html.DisplayFor(m => m.CandidateName)            
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.Status)
        <br/>
        @Html.DisplayFor(m => m.Status)
    </div>
    <p class=" well text-primary">
        Are you sure you wish to pass on this candidate?
    </p>
    <div class="btn-group">
        <button type="submit" class="btn btn-primary">Ok</button>
        <a class="btn btn-default" href="@Url.Action("Candidates", new {id=Model.PositionId})" class="btn">Cancel</a>
    </div>
} 
