@model HiringManager.Web.ViewModels.Positions.CandidateStatusViewModel

@{
    ViewBag.Title = "Set Candidate Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.PositionId)
    @Html.HiddenFor(m => m.CandidateStatusId)
    <div class="form-group">
        @Html.LabelFor(m => m.PositionTitle)
        <br/>
        @Html.DisplayFor(m => m.PositionTitle, new { placeholder = "Position Title"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CandidateName)
        <br/>
        @Html.DisplayFor(m => m.CandidateName, new { placeholder = "Candidate Name"})         
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Status)
        @Html.TextBoxFor(m => m.Status, new { placeholder = "Status", @class = "form-control" })
    </div>
    <div class="btn-group">
        <button type="submit" class="btn btn-primary">Ok</button>
        <a href="@Url.Action("Candidates", new {id=Model.PositionId})" class="btn">Cancel</a>
    </div>
} 
