<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Hiring Manager</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        <link href="http://cdn.kendostatic.com/2014.2.716/styles/kendo.common.min.css" rel="stylesheet">        
        <link href="http://cdn.kendostatic.com/2014.2.716/styles/kendo.default.min.css" rel="stylesheet">    
        @Scripts.Render("~/bundles/modernizr")

        <script src="http://requirejs.org/docs/release/2.1.11/minified/require.js"></script>
        @Scripts.Render("~/scripts/require.config.js")
    </head>
<body>
    @Html.Partial(MVC.Shared.Views._NavBar)

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year Hiring Manager powered by ISG Software Solutions</p>
            </footer>
        </div>


        @RenderSection("scripts", required: false)
    </body>
</html>
