<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Hiring Manager</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body style="margin-top: 40px">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <!-- this element supports reponsive ui -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <a class="brand" href="@Url.Action("Index", "Home")">Hiring Manager</a>

                    <!-- replace with your custom application logo -->
                    <div class="nav-collapse collapse" id="main-menu">
                        <ul class="nav" id="main-menu-left">
                            <li class="active"><a href="@Url.Action("Index", "Home")">Positions</a></li>
                            <li><a href="#">Candidates</a></li>

                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>


                </div>
            </div>
        </div>       

        @RenderBody()

        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/js")
        @RenderSection("scripts", required: false)
    </body>
</html>
