<ul class="nav nav-collapse pull-right">
                            
    <li><a href="@Url.Action("About", "Home")">About</a></li>     
    @if (Request.IsAuthenticated) {
    <li class="navbar-text">Hello @User.Identity.Name</li>
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
        @Html.AntiForgeryToken()
         <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
} else {
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
 }               
</ul>

