@model HiringManager.Web.ViewModels.Candidates.EditCandidateViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.CandidateId)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Name, new {@class="form-control"})
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SourceId, new {@class="control-label"})
        @Html.DropDownListFor(m => m.SourceId, Model.Sources, "Where did you hear about this candidate?", new {@class="form-control"})
        @Html.ValidationMessageFor(model => model.SourceId)
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
}

